$dark-green-pic: invert(40%) sepia(88%) saturate(887%) hue-rotate(128deg) brightness(95%) contrast(99%);
$dark-green: #01a779;
$light-green: #b2e0d4;
$light-pink: #fff2f9;
$dark-pink: #ffc7ca;
$dark-pink-pic: invert(81%) sepia(6%) saturate(1340%) hue-rotate(308deg) brightness(100%) contrast(106%);
